<div class="row">

  <div class="info mb-3">
    <h2>Информация</h2>
  </div>

  <div class="col-12">
    <h1>Электронная Библиотечная Система</h1>
    <p class="lead">— это веб-приложение для чтения электронных книг с огромной библиотекой рассчитанная для студентов вузов и колледжей и учеников школ.</p>
    <p class="lead">Подключаясь к электронно-библиотечной системе, учебное заведение обеспечивает обучающихся удаленным доступом к огромному количеству литературы, рекомендуемой в образовательных целях.</p>
    <p class="lead"><a href="https://doodle.kz/">Ссылка на веб-сайт компании </a></p>
    <p class="lead">Будем рады сотрудничеству с вами!</p>
  </div>

  <div class="col-12">
    <h1>Контакты </h1>
    <p class="lead"><code>Директор:</code><br>Жумагулова Гульжайна<br>+7016405141</p>
    <p class="lead"><code>Менеджер по авторам:</code><br>Асель Укубаева<br>+77073504133</p>
    <p class="lead"><code>Офис менеджер:</code><br>+77273900535<br>lantar2018@mail.ru</p>
    <p><a href="https://doodle.kz/">Ссылка на веб-сайт компании </a></p>
  </div>
</div>
