<%= render @user %>

<div class="pt-5">
  <%= link_to "Редактировать пользователя", edit_user_path(@user) %> |
  <%= link_to "Назад к пользователям", users_path %> |
  <%= link_to "Удалить этого пользователя", @user, data: { turbo_method: :delete, turbo_confirm: 'Вы уверены?' } %>
</div>
