<% if object.errors.any? %>
  <section class="errors">
    <h2>
      Ой! Ваша форма не может быть сохранена.
    </h2>
    <h3>
      Пожалуйста, исправьте следующее:
      <%#= pluralize(object.errors.size, "error") %>
    </h3>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>