<%# if flash[:notice] %>
<!--   <div class="flash notice">
    <%#= flash[:notice] %>
  </div> -->
<%# end %>

<%# if flash[:alert] %>
<!--   <div class="flash alert">
    <%#= flash[:alert] %>
  </div> -->
<%# end %>

<% flash.each do |key, value| %>
  <div class="alert <%= flash_class(key) %> alert-dismissible fade show" role="alert">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>